*{
    margin: 0;
   padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    height: 40px;
}
.menu ul{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 40px;
    position: fixed;
}
.menu ul li{
  list-style: none;
  margin: 2px 15px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: gray;
    
}
.text{
    height: 40px;
    background-color: rgb(28, 27, 27);
}
.text p{
    text-align: center;
    padding: 5px;
    color: whitesmoke;
}
.text a{
    text-decoration: none;
    color: rgb(58, 58, 165);
}
.container{
    /* position: relative; */
}
.container2{
    /* position: relative; */
 
}
.img1,.img2{
    width: 100%;
}
.sub{
    position: absolute;
    color: white;
    top: 15%;
    left: 28%;
    /* transform: translate(-50%, -50%); */
    margin:0;
    text-align: center;
    font-size: 30px;
}
.sub1{
    display: flex;
    position: absolute;
    top: 40%;
    left: 45%;
}
.sub1 a{
    text-decoration: none;
    margin: 5px;
    padding: 10px;
}
.lm a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    background-color: rgb(13, 100, 223);
    border-radius: 20px;
    padding: 5px 20px;
}
.by a{
    color: white;
    font-size: 19px;
    background-color: black;
    border: solid blue;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
}
.by a:hover{
    background-color: blue;
    cursor: pointer;
 }
 .sup{
    position: absolute;
    color: rgb(22, 21, 21);
    top: 800px;
    left: 20%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    font-size: 30px;
 }
.sup1{
    display: flex;
    position: absolute;
    top: 950px;
    left: 42%;
}
.sup1 a{
    text-decoration: none;
    margin: 5px;
}
.lm1 a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    background-color: rgb(13, 100, 223);
    border-radius: 20px;
    padding: 5px 20px;

}
.by2 a{
    color: blue;
    font-size: 19px;
    background-color:white;
    border: solid blue;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;

}
.by2 a:hover{
    background-color: black;
}
.new{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
}
.new img{
    width:50%;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:whitesmoke;
    gap: 10px;
    

}
.griditem .img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.griditem .img2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gridcontain{
    display: flex;
    /* gap: 10px; */
    height: 550px;
}
.fl img{
    width: 100%;
}
.fl{
    display: grid;
    place-items: center;
}
.fl:first-child{
    background-color: black;

}
.fl:last-child{
    background-color: whitesmoke;

}
.gridcontain2{
    display: flex;
    height: 550px;
}
.fl1 img{
    width: 100%;
}
.fl1{
    display: grid;
    place-items: center;
}
.fl1:first-child{
    background: linear-gradient(to bottom, #b5e0f2,#f6f8f9);
}
.fl1:last-child{
    background-color: white;
}
.Buttons1{
    display: flex;
    /* width: fit-content; */
    gap: 50px;

}
.head1 h1{
    color: white;
    justify-content: center;
}
.head1 h2{
    color: brown;
    font-variant: small-caps;
}
.desc1 p{
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ln1 a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    background-color: rgb(13, 100, 223);
    border-radius: 20px;
    padding: 5px 20px;

}
.y1 a{
    color: white;
    font-size: 19px;
    background-color: black;
    border: solid blue;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;

}
.y1 a:hover{
    background-color: blue;
    cursor: pointer;

}
.Buttons{
    display: flex;
    /* width: fit-content; */
    gap: 50px;
}
.desc2 p{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.desc p{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.head h2{
    color: rgb(37, 56, 178);
    font-family: cursive;
    position: absolute;
    top: 3228px;
    left: 365px;
    font-size: 30px;
}
.ln a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color:  rgb(44, 44, 50);
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
}
.y a{
    color:  white;
    font-size: 15px;
    border: solid rgb(44, 44, 50);
    border-radius: 20px;
    padding: 5px 25px;
    text-decoration: none;
    margin: 4px;
}
.y a:hover{
    background-color: rgb(44, 44, 50);;
}
.button{
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: rgb(13, 100, 223);
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;

}
.button:hover{
    background-color: blue;
}
.video{
    /* padding-top: 45px; */
    width: 100%;
    height: 150px;
    position: relative;
}