*{
    margin: 0;
   padding: 0;
  box-sizing: border-box;
}
nav{
    height: 40px;
    background-color: #2c2929d0;
}
.menu ul{
    display: flex;
    justify-content: center;
    position: fixed;
    padding-left: 100px;
}
.menu ul li{
  list-style: none;
  margin: 2px 15px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.text{
    height: 40px;
    background-color: rgb(28, 27, 27);
}
.text p{
    text-align: center;
    padding: 5px;
    color: whitesmoke;
}
.text a{
    text-decoration: none;
    color: rgb(58, 58, 165);
}
.container{
    max-width: 100%;
    max-height: 100%;
}
.img1,.img2{
    width: 100%;
}
.sub{
    position: absolute;
    color: white;
    top: 20%;
    left: 30%;
    margin:0;
    text-align: center;
}
.sub1{
    display: flex;
    position: absolute;
    top: 33%;
    left: 37%;
}
.sub1 a{
    text-decoration: none;
    margin: 5px;
    padding: 10px;
}
.lm a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    background-color: rgb(13, 100, 223);
    border-radius: 25px;
    padding: 10px 10px;
}
.by a{
    color: white;
    font-size: 19px;
    background-color: black;
    border: solid blue;
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
}
.by a:hover{
    background-color: blue;
    cursor: pointer;
 }
 .sup{
    position: absolute;
    color: black;
    top: 130%;
    left: 30%;
    margin: 0;
    text-align: center;
 }
.sup1{
    display: flex;
    position: absolute;
    top: 145%;
    left: 38%;
}
.sup1 a{
    text-decoration: none;
    margin: 5px;
}
.lm1 a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    background-color: rgb(13, 100, 223);
    border-radius: 25px;
    padding: 10px 10px;

}
.by2 a{
    color: blue;
    font-size: 19px;
    background-color:white;
    border: solid blue;
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;

}
.by2 a:hover{
    background-color: black;
}
.new{
    display: flex;
    justify-content: center;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    background-color: aliceblue;
    margin: 0;
}
.new img{
    height:50%;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color:whitesmoke;
    padding: 4px;

}
.griditem{
    width: 600px;
    height: 500px;
}
.griditem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}